In [1]:

## 1. Project Setup & Data Acquisition
import pandas as pd
import os # Import the os module for path operations

data_path = 'data/player_statistics_cleaned_final.csv'

try:
    df = pd.read_csv(data_path)
    print("Dataset loaded successfully!")
except FileNotFoundError:
    print(f"Error: The file was not found at {data_path}. Please check the path and make sure 'data' folder is in the same directory as this notebook.")
    print("Current working directory:", os.getcwd()) # This line helps debug path issues
    exit() 

print("\n--- First 5 rows of the dataset ---")
display(df.head())

# Get a concise summary of the DataFrame (data types, non-null values)
print("\n--- DataFrame Info ---")
df.info()

# Get basic descriptive statistics for numerical columns
print("\n--- Descriptive Statistics for Numerical Columns ---")
display(df.describe())

# Check for any missing values across all columns
print("\n--- Missing values per column ---")
print(df.isnull().sum())

# Check for duplicate rows
print("\n--- Checking for duplicate rows ---")
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Dataset loaded successfully!

--- First 5 rows of the dataset ---

,TeamName,PlayerName,Position,Games,Win rate,KDA,Avg kills,Avg deaths,Avg assists,CSPerMin,...,Avg VWPM,GD@15,CSD@15,XPD@15,FB %,FB Victim,Penta Kills,Solo Kills,Country,FlashKeybind
0,Top Esports,369,Top,8,0.500,3.1,2.5,2.4,4.9,7.6,...,0.13,322,5,424,0.000,0.25,0,2,China,D
1,Dplus KIA,aiming,Adc,9,0.333,4.8,5.0,2.0,4.7,10.1,...,0.10,-112,1,97,0.333,0.00,0,2,South Korea,F
2,MAD Lions KOI,alvaro,Support,5,0.200,1.5,0.2,4.4,6.2,1.2,...,0.49,-3,2,-256,0.000,0.60,0,-,Spain,D
3,Team Liquid,apa,Mid,10,0.500,2.4,3.5,3.2,4.2,8.7,...,0.18,278,2,216,0.400,0.00,0,3,United States,D
4,PSG Talon,azhi,Top,5,0.200,2.3,2.2,3.0,4.8,7.5,...,0.18,-311,-10,-168,0.200,0.00,0,-,Taiwan,D

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TeamName       81 non-null     object
 1   PlayerName     81 non-null     object
 2   Position       81 non-null     object
 3   Games          81 non-null     int64
 4   Win rate       81 non-null     float64
 5   KDA            81 non-null     float64
 6   Avg kills      81 non-null     float64
 7   Avg deaths     81 non-null     float64
 8   Avg assists    81 non-null     float64
 9   CSPerMin       81 non-null     float64
 10  GoldPerMin     81 non-null     int64
 11  KP%            81 non-null     float64
 12  DamagePercent  81 non-null     float64
 13  DPM            81 non-null     int64
 14  VSPM           81 non-null     float64
 15  Avg WPM        81 non-null     float64
 16  Avg WCPM       81 non-null     float64
 17  Avg VWPM       81 non-null     float64
 18  GD@15          81 non-null     int64
 19  CSD@15         81 non-null     int64
 20  XPD@15         81 non-null     int64
 21  FB %           81 non-null     float64
 22  FB Victim      81 non-null     float64
 23  Penta Kills    81 non-null     int64
 24  Solo Kills     81 non-null     object
 25  Country        81 non-null     object
 26  FlashKeybind   81 non-null     object
dtypes: float64(14), int64(7), object(6)
memory usage: 17.2+ KB

--- Descriptive Statistics for Numerical Columns ---

,Games,Win rate,KDA,Avg kills,Avg deaths,Avg assists,CSPerMin,GoldPerMin,KP%,DamagePercent,...,VSPM,Avg WPM,Avg WCPM,Avg VWPM,GD@15,CSD@15,XPD@15,FB %,FB Victim,Penta Kills
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.00000,81.000000,81.000000,81.000000,...,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.0
mean,8.641975,0.455975,3.765432,2.686420,2.875309,6.755556,6.65679,362.654321,0.680790,0.199605,...,1.768025,0.743333,0.350988,0.269259,-36.753086,-0.469136,-17.876543,0.291654,0.098086,0.0
std,2.908215,0.214833,1.834677,1.519355,0.896734,2.390293,3.04885,72.095797,0.088962,0.084498,...,1.031010,0.676966,0.119610,0.162471,324.379081,5.886609,301.186752,0.203314,0.128330,0.0
min,3.000000,0.000000,1.200000,0.200000,1.300000,1.800000,1.00000,225.000000,0.410000,0.052000,...,0.760000,0.230000,0.100000,0.060000,-1172.000000,-16.000000,-797.000000,0.000000,0.000000,0.0
25%,6.000000,0.333000,2.400000,1.200000,2.400000,4.900000,5.70000,320.000000,0.623000,0.135000,...,1.100000,0.380000,0.250000,0.160000,-207.000000,-4.000000,-183.000000,0.143000,0.000000,0.0
50%,8.000000,0.500000,3.400000,2.500000,2.900000,6.200000,7.90000,385.000000,0.691000,0.215000,...,1.350000,0.450000,0.370000,0.190000,-3.000000,0.000000,6.000000,0.250000,0.077000,0.0
75%,10.000000,0.615000,4.400000,3.900000,3.300000,8.300000,8.90000,416.000000,0.751000,0.275000,...,1.700000,0.530000,0.430000,0.380000,159.000000,3.000000,147.000000,0.444000,0.143000,0.0
max,14.000000,0.875000,9.300000,5.600000,5.600000,12.400000,10.50000,486.000000,0.849000,0.337000,...,4.250000,2.430000,0.590000,0.670000,741.000000,10.000000,749.000000,0.800000,0.600000,0.0

--- Missing values per column ---
TeamName         0
PlayerName       0
Position         0
Games            0
Win rate         0
KDA              0
Avg kills        0
Avg deaths       0
Avg assists      0
CSPerMin         0
GoldPerMin       0
KP%              0
DamagePercent    0
DPM              0
VSPM             0
Avg WPM          0
Avg WCPM         0
Avg VWPM         0
GD@15            0
CSD@15           0
XPD@15           0
FB %             0
FB Victim        0
Penta Kills      0
Solo Kills       0
Country          0
FlashKeybind     0
dtype: int64

--- Checking for duplicate rows ---
Number of duplicate rows: 0

Step 1: Data Type Adjustments & Feature Engineering

In [2]:
# --- Step 1: Data Type Adjustments & Feature Engineering ---

print("\n--- Initial Column Data Types ---")
df.info()

# Convert relevant columns to numeric, handling potential errors
# 'coerce' will turn non-convertible values into NaN (Not a Number)
# Since we already checked for NaNs, this step will primarily confirm types.
numerical_cols = ['Avg kills', 'Avg deaths', 'Avg assists', 'CSM', 'GPM', 'KP%', 'DMG%', 'VSPM',
                  'Gold', 'Damage_Dealt', 'Vision_Score']

for col in numerical_cols:
    if col in df.columns: # Check if column exists before trying to convert
        # Convert to numeric, errors='coerce' is a safe way to handle non-numeric entries
        df[col] = pd.to_numeric(df[col], errors='coerce')
        # Fill any NaNs that might have been introduced by 'coerce' (though unlikely if no issues found)
        df[col] = df[col].fillna(df[col].median()) # Filling with median is a robust choice

print("\n--- Data Types After Numerical Conversion ---")
df.info()

# Create a KDA (Kill/Death/Assist) Ratio: (Kills + Assists) / Deaths
# Handle cases where Deaths might be 0 to avoid division by zero
df['KDA'] = df.apply(lambda row: (row['Avg kills'] + row['Avg assists']) / row['Avg deaths'] if row['Avg deaths'] != 0 else (row['Avg kills'] + row['Avg assists']), axis=1)
# For players with 0 deaths, a high KDA is often represented by a very large number or simply their K+A count
# We're choosing K+A to represent infinite KDA.

# Calculate Kills per Game (KPG), Deaths per Game (DPG), Assists per Game (APG)
# Assuming 'Games' column exists or can be derived. If not, we'll use per game averages from the dataset directly.
# The current dataset directly provides these as averages, so we'll ensure they are numeric.
# Let's check the column names for consistency in the actual dataset
# df.columns will list all columns. We'll adjust if necessary.

# Create 'Total Games Played' if it's not already explicit
# This dataset often summarizes stats over many games, so we might need to assume 'Games' represents games played
# Let's use 'Games Played' column if it exists, otherwise we'll consider each row as a player's aggregated stats for that tournament.
# Based on typical Kaggle player stats, each row is usually a player's average over their games in the tournament.
# We don't have a direct 'Games Played' column to divide by. If we need total, we'd multiply averages by number of games.
# For now, let's assume the provided stats are already normalized or are meaningful averages for comparison.

# Create a simplified Win/Loss indicator (assuming 'Win Rate' is already a percentage/decimal)
# Let's ensure 'Win Rate' is numerical and convert from percentage string to decimal if needed
if 'Win Rate' in df.columns:
    df['Win Rate'] = pd.to_numeric(df['Win Rate'], errors='coerce')
    # If Win Rate is a percentage string (e.g., '65%'), you'd do:
    # df['Win Rate'] = df['Win Rate'].str.replace('%', '').astype(float) / 100
    # Since it's already "cleaned_final", it's likely numeric directly.
    df['Win_Indicator'] = (df['Win Rate'] > 0.5).astype(int) # 1 for positive win rate, 0 otherwise

print("\n--- New Features Created ---")
display(df[['KDA', 'Win rate', 'Avg kills', 'Avg deaths', 'Avg assists']].head()) # Display new columns and related ones

--- Initial Column Data Types ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TeamName       81 non-null     object
 1   PlayerName     81 non-null     object
 2   Position       81 non-null     object
 3   Games          81 non-null     int64
 4   Win rate       81 non-null     float64
 5   KDA            81 non-null     float64
 6   Avg kills      81 non-null     float64
 7   Avg deaths     81 non-null     float64
 8   Avg assists    81 non-null     float64
 9   CSPerMin       81 non-null     float64
 10  GoldPerMin     81 non-null     int64
 11  KP%            81 non-null     float64
 12  DamagePercent  81 non-null     float64
 13  DPM            81 non-null     int64
 14  VSPM           81 non-null     float64
 15  Avg WPM        81 non-null     float64
 16  Avg WCPM       81 non-null     float64
 17  Avg VWPM       81 non-null     float64
 18  GD@15          81 non-null     int64
 19  CSD@15         81 non-null     int64
 20  XPD@15         81 non-null     int64
 21  FB %           81 non-null     float64
 22  FB Victim      81 non-null     float64
 23  Penta Kills    81 non-null     int64
 24  Solo Kills     81 non-null     object
 25  Country        81 non-null     object
 26  FlashKeybind   81 non-null     object
dtypes: float64(14), int64(7), object(6)
memory usage: 17.2+ KB

--- Data Types After Numerical Conversion ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TeamName       81 non-null     object
 1   PlayerName     81 non-null     object
 2   Position       81 non-null     object
 3   Games          81 non-null     int64
 4   Win rate       81 non-null     float64
 5   KDA            81 non-null     float64
 6   Avg kills      81 non-null     float64
 7   Avg deaths     81 non-null     float64
 8   Avg assists    81 non-null     float64
 9   CSPerMin       81 non-null     float64
 10  GoldPerMin     81 non-null     int64
 11  KP%            81 non-null     float64
 12  DamagePercent  81 non-null     float64
 13  DPM            81 non-null     int64
 14  VSPM           81 non-null     float64
 15  Avg WPM        81 non-null     float64
 16  Avg WCPM       81 non-null     float64
 17  Avg VWPM       81 non-null     float64
 18  GD@15          81 non-null     int64
 19  CSD@15         81 non-null     int64
 20  XPD@15         81 non-null     int64
 21  FB %           81 non-null     float64
 22  FB Victim      81 non-null     float64
 23  Penta Kills    81 non-null     int64
 24  Solo Kills     81 non-null     object
 25  Country        81 non-null     object
 26  FlashKeybind   81 non-null     object
dtypes: float64(14), int64(7), object(6)
memory usage: 17.2+ KB

--- New Features Created ---

        KDA  Win rate  Avg kills  Avg deaths  Avg assists
0  3.083333     0.500        2.5         2.4          4.9
1  4.850000     0.333        5.0         2.0          4.7
2  1.454545     0.200        0.2         4.4          6.2
3  2.406250     0.500        3.5         3.2          4.2
4  2.333333     0.200        2.2         3.0          4.8

In [3]:
print(df.columns.tolist())

['TeamName', 'PlayerName', 'Position', 'Games', 'Win rate', 'KDA', 'Avg kills', 'Avg deaths', 'Avg assists', 'CSPerMin', 'GoldPerMin', 'KP%', 'DamagePercent', 'DPM', 'VSPM', 'Avg WPM', 'Avg WCPM', 'Avg VWPM', 'GD@15', 'CSD@15', 'XPD@15', 'FB %', 'FB Victim', 'Penta Kills', 'Solo Kills', 'Country', 'FlashKeybind']

In [4]:
# --- Step 2: Key Performance Indicator (KPI) Calculations & Initial Aggregations (RE-RUN) ---

# Group by player position to see average performance
print("\n--- Average Stats by Player Position ---")
if 'Position' in df.columns:
    # Ensure all columns in this list are perfectly matched to your cleaned df.columns
    role_performance = df.groupby('Position')[['Avg kills', 'Avg deaths', 'Avg assists', 'KDA', 'GoldPerMin', 'DamagePercent', 'VSPM', 'Win rate']].mean().sort_values(by='Win rate', ascending=False)
    display(role_performance)
else:
    print("'Position' column not found. Skipping aggregation by position.")

# Identify top players by KDA
print("\n--- Top 10 Players by KDA ---")
if 'PlayerName' in df.columns:
    # Ensure all columns in this list are perfectly matched
    top_kda_players = df.sort_values(by='KDA', ascending=False).head(10)[['PlayerName', 'Position', 'KDA', 'Win rate', 'TeamName']]
    display(top_kda_players)
else:
    print("'PlayerName' column not found. Skipping top players by KDA.")

# Identify top teams by average Win Rate
print("\n--- Top 5 Teams by Average Win Rate ---")
if 'TeamName' in df.columns:
    # Ensure 'Win rate' is perfectly matched
    top_teams_win_rate = df.groupby('TeamName')['Win rate'].mean().sort_values(ascending=False).head(5)
    display(top_teams_win_rate)
else:
    print("'TeamName' column not found. Skipping top teams by win rate.")

--- Average Stats by Player Position ---

,Avg kills,Avg deaths,Avg assists,KDA,GoldPerMin,DamagePercent,VSPM,Win rate
Position,,,,,,,,
Adc,4.287500,2.243750,5.243750,4.805221,441.375000,0.291187,1.186875,0.456125
Mid,3.706250,2.606250,5.531250,4.092920,408.250000,0.272875,1.220000,0.456125
Support,0.637500,3.550000,9.412500,3.094303,242.875000,0.071313,3.763125,0.456125
Top,3.000000,2.900000,5.125000,3.063476,387.875000,0.216875,1.040625,0.456125
Jungle,1.852941,3.064706,8.364706,3.700357,334.647059,0.148941,1.637647,0.455412

--- Top 10 Players by KDA ---

   PlayerName Position       KDA  Win rate      TeamName
62      scout      Mid  9.000000     0.625   LNG Esports
29   gumayusi      Adc  8.769231     0.875            T1
59       peyz      Adc  8.428571     0.700         Gen.G
14      chovy      Mid  7.785714     0.700         Gen.G
28       gala      Adc  7.375000     0.625   LNG Esports
38      keria  Support  7.333333     0.875            T1
79       zeus      Top  7.187500     0.875            T1
56       oner   Jungle  6.736842     0.875            T1
11     canyon   Jungle  6.470588     0.700         Gen.G
74     xiaohu      Mid  6.263158     0.615  Weibo Gaming

--- Top 5 Teams by Average Win Rate ---

TeamName
T1                 0.875000
Gen.G              0.700000
Bilibili Gaming    0.629833
LNG Esports        0.625000
Weibo Gaming       0.615000
Name: Win rate, dtype: float64

Step 2: Key Performance Indicator (KPI) Calculations & Initial Aggregations

In [5]:
# --- Debugging Column Names ---

# Print all column names directly, with clear markers to spot invisible spaces
print("--- Raw Column Names (with markers) ---")
for col in df.columns:
    print(f"'{col}' (Length: {len(col)})")

# Clean up column names by stripping whitespace
original_columns = df.columns.tolist()
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace('\ufeff', '') # Remove Byte Order Mark if present

print("\n--- Cleaned Column Names (with markers) ---")
for col in df.columns:
    print(f"'{col}' (Length: {len(col)})")

# Double-check if 'Win rate' now exists cleanly
print("\n--- Checking for 'Win rate' after stripping ---")
if 'Win rate' in df.columns:
    print("''Win rate' is now found in columns after stripping!")
else:
    print("''Win rate' IS STILL NOT FOUND in columns after stripping. There might be another issue.")
    # If still not found, let's try finding a column that *contains* 'win rate'
    found_win_rate = [col for col in df.columns if 'win rate' in col.lower()]
    if found_win_rate:
        print(f"Found column(s) containing 'win rate' (case-insensitive): {found_win_rate}")
    else:
        print("No column containing 'win rate' was found even with case-insensitive search.")

# Display the first few rows to confirm visual appearance of column names
print("\n--- DataFrame Head after column cleaning ---")
display(df.head())

--- Raw Column Names (with markers) ---
'TeamName' (Length: 8)
'PlayerName' (Length: 10)
'Position' (Length: 8)
'Games' (Length: 5)
'Win rate' (Length: 8)
'KDA' (Length: 3)
'Avg kills' (Length: 9)
'Avg deaths' (Length: 10)
'Avg assists' (Length: 11)
'CSPerMin' (Length: 8)
'GoldPerMin' (Length: 10)
'KP%' (Length: 3)
'DamagePercent' (Length: 13)
'DPM' (Length: 3)
'VSPM' (Length: 4)
'Avg WPM' (Length: 7)
'Avg WCPM' (Length: 8)
'Avg VWPM' (Length: 8)
'GD@15' (Length: 5)
'CSD@15' (Length: 6)
'XPD@15' (Length: 6)
'FB %' (Length: 4)
'FB Victim' (Length: 9)
'Penta Kills' (Length: 11)
'Solo Kills' (Length: 10)
'Country' (Length: 7)
'FlashKeybind' (Length: 12)

--- Cleaned Column Names (with markers) ---
'TeamName' (Length: 8)
'PlayerName' (Length: 10)
'Position' (Length: 8)
'Games' (Length: 5)
'Win rate' (Length: 8)
'KDA' (Length: 3)
'Avg kills' (Length: 9)
'Avg deaths' (Length: 10)
'Avg assists' (Length: 11)
'CSPerMin' (Length: 8)
'GoldPerMin' (Length: 10)
'KP%' (Length: 3)
'DamagePercent' (Length: 13)
'DPM' (Length: 3)
'VSPM' (Length: 4)
'Avg WPM' (Length: 7)
'Avg WCPM' (Length: 8)
'Avg VWPM' (Length: 8)
'GD@15' (Length: 5)
'CSD@15' (Length: 6)
'XPD@15' (Length: 6)
'FB %' (Length: 4)
'FB Victim' (Length: 9)
'Penta Kills' (Length: 11)
'Solo Kills' (Length: 10)
'Country' (Length: 7)
'FlashKeybind' (Length: 12)

--- Checking for 'Win rate' after stripping ---
''Win rate' is now found in columns after stripping!

--- DataFrame Head after column cleaning ---

,TeamName,PlayerName,Position,Games,Win rate,KDA,Avg kills,Avg deaths,Avg assists,CSPerMin,...,Avg VWPM,GD@15,CSD@15,XPD@15,FB %,FB Victim,Penta Kills,Solo Kills,Country,FlashKeybind
0,Top Esports,369,Top,8,0.500,3.083333,2.5,2.4,4.9,7.6,...,0.13,322,5,424,0.000,0.25,0,2,China,D
1,Dplus KIA,aiming,Adc,9,0.333,4.850000,5.0,2.0,4.7,10.1,...,0.10,-112,1,97,0.333,0.00,0,2,South Korea,F
2,MAD Lions KOI,alvaro,Support,5,0.200,1.454545,0.2,4.4,6.2,1.2,...,0.49,-3,2,-256,0.000,0.60,0,-,Spain,D
3,Team Liquid,apa,Mid,10,0.500,2.406250,3.5,3.2,4.2,8.7,...,0.18,278,2,216,0.400,0.00,0,3,United States,D
4,PSG Talon,azhi,Top,5,0.200,2.333333,2.2,3.0,4.8,7.5,...,0.18,-311,-10,-168,0.200,0.00,0,-,Taiwan,D

In [6]:
import pandas as pd
import os

# Define the path to your dataset (ensure this is correct from your first successful load)
data_path = 'data/player_statistics_cleaned_final.csv'

# Load the dataset again to ensure a clean slate
try:
    df = pd.read_csv(data_path)
    print("Dataset reloaded successfully!")
except FileNotFoundError:
    print(f"Error: The file was not found at {data_path}. Please check the path and make sure 'data' folder is in the same directory as this notebook.")
    print("Current working directory:", os.getcwd())
    exit()

print("\n--- Raw Column Names ---")
print(df.columns.tolist())

# ***Crucial Step: Strip whitespace from all column names***
df.columns = df.columns.str.strip()

print("\n--- Cleaned Column Names (after stripping whitespace) ---")
print(df.columns.tolist())

# Now try to access the problematic column name
if 'Win rate' in df.columns:
    print("\n'Win rate' column found after stripping whitespace!")
    print("First 5 values of 'Win rate':")
    print(df['Win rate'].head()) # Attempt to print head
else:
    print("\n'Win rate' column NOT found even after stripping whitespace.")
    print("Please inspect the 'Cleaned Column Names' output very carefully for subtle differences.")

# If you see it now, you can proceed with the rest of your code
# Otherwise, we might need to resort to renaming it explicitly.

Dataset reloaded successfully!

--- Raw Column Names ---
['TeamName', 'PlayerName', 'Position', 'Games', 'Win rate', 'KDA', 'Avg kills', 'Avg deaths', 'Avg assists', 'CSPerMin', 'GoldPerMin', 'KP%', 'DamagePercent', 'DPM', 'VSPM', 'Avg WPM', 'Avg WCPM', 'Avg VWPM', 'GD@15', 'CSD@15', 'XPD@15', 'FB %', 'FB Victim', 'Penta Kills', 'Solo Kills', 'Country', 'FlashKeybind']

--- Cleaned Column Names (after stripping whitespace) ---
['TeamName', 'PlayerName', 'Position', 'Games', 'Win rate', 'KDA', 'Avg kills', 'Avg deaths', 'Avg assists', 'CSPerMin', 'GoldPerMin', 'KP%', 'DamagePercent', 'DPM', 'VSPM', 'Avg WPM', 'Avg WCPM', 'Avg VWPM', 'GD@15', 'CSD@15', 'XPD@15', 'FB %', 'FB Victim', 'Penta Kills', 'Solo Kills', 'Country', 'FlashKeybind']

'Win rate' column found after stripping whitespace!
First 5 values of 'Win rate':
0    0.500
1    0.333
2    0.200
3    0.500
4    0.200
Name: Win rate, dtype: float64

In [7]:
# --- Exporting Cleaned Data for Power BI ---

## Define the path for the cleaned data file
output_data_path = 'data/player_stats_cleaned_for_powerbi.csv'

# Export the DataFrame to CSV
# index=False prevents pandas from writing the DataFrame index as a column in the CSV
df.to_csv(output_data_path, index=False)

print(f"\nCleaned data exported successfully to: {output_data_path}")
print("You can now import this CSV file into Power BI.")

Cleaned data exported successfully to: data/player_stats_cleaned_for_powerbi.csv
You can now import this CSV file into Power BI.